body {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  color: grey;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  margin: 20px auto;
  padding: 20px;
  border-color: orange;
  border-style: solid;
  border-radius: 5px;
}

.weather-app .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-app .active:hover {
  text-decoration: none;
}
